.advantages {
  font-size: 14px;

  &__icon {
    height: 120px;
    width: calc(100vw - 30px);
    max-width: 450px;
    margin-bottom: 30px;
    padding: 25px 100px;
    background-color: $button-color;
  }

  &__heading {
    margin-bottom: 10px;
    font-weight: 700;
    line-height: 1.14;
  }

  &__description {
    line-height: 1.71;
    color: $default-color;
  }
}

@media (min-width: $breakpoint-tablet) {
  .advantages__icon {
    max-width: 354px;
  }
}

@media (min-width: $breakpoint-desktop) {
  .advantages__icon {
    max-width: 270px;
  }
}
