* {
  box-sizing: border-box;
}

body {
  font-family: $defualt-font;
  color: $main-color;
  font-size: 16px;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

.content-display {
  min-width: 320px;
  margin: 0 auto;
  padding: 0 15px;
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;

  &--lightgrey {
    background-color: $button-color;
  }
}

.section--hidden {
  display: none;
}

.section__heading {
  margin-bottom: 50px;
  text-align: center;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.16;
}

@media (min-width: $breakpoint-mobile) {
  .content-display {
    max-width: $breakpoint-mobile;
  }
}

@media (min-width: $breakpoint-tablet) {
  .content-display {
    max-width: $breakpoint-tablet;
  }
}
@media (min-width: $breakpoint-desktop) {
  .content-display {
    max-width: $breakpoint-desktop;
  }

  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }

  .section__heading {
    font-size: 36px;
  }

  .section--hidden {
    display: block;
  }
}
