.logo {
  // flex-grow: 1;
  font-family: $brand-font;
  font-size: 24px;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: $brand-color;

  &--dark {
    color: $logo-color;
  }

  &--light {
    color: $alt-color;
  }
}

@media (min-width: $breakpoint-desktop) {
  .logo {
    flex-grow: 1;
    font-size: 26px;
  }
}
