.page-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  height: 400px;
  background-color: $bg-color;
  background-image: linear-gradient(to top, $bg-gradient, $bg-gradient),
    url(../images/bgimg.jpg);
  background-repeat: no-repeat;
  background-position: center;

  &__heading {
    max-width: 365px;
    margin: 0 auto 30px;
    color: $alt-color;
    font-weight: 900;
    font-size: 26px;
    line-height: 1.62;
    text-transform: uppercase;
    letter-spacing: 0.06em;
  }
}

@media (min-width: $breakpoint-desktop) {
  .page-title {
    height: 600px;

    &__heading {
      max-width: 700px;
      font-size: 44px;
      line-height: 1.36;
    }
  }
}
