.project-card {
  position: relative;
  margin: 0;
  overflow: hidden;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:active {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }

  &__image {
    display: block;
    width: calc(100vw - 30px);
    max-width: 450px;
    height: 294px;
    object-fit: cover;
  }
  &__caption {
    position: relative;
    z-index: 5;
    padding: 20px 24px;
    border-left: 1px solid $pic-border;
    border-right: 1px solid $pic-border;
    border-bottom: 1px solid $pic-border;
    background-color: $alt-color;
  }

  &__name {
    font-size: 18px;
    font-weight: 700;
    line-height: 2;
    letter-spacing: 0.06em;
  }

  &__type {
    color: $default-color;
    line-height: 1.88;
  }

  &__overlay {
    position: absolute;
    z-index: 3;
    height: 100%;
    padding: 49px 45px 49px 24px;
    color: $alt-color;
    line-height: 1.56;
    letter-spacing: 0.03em;
    font-size: 18px;
    background-color: $description-bg;
    transform: translateY(0);
    transition-property: transform;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }

  &:hover &__overlay {
    transform: translateY(-408px);
  }
}

@media (min-width: $breakpoint-tablet) {
  .project-card__image {
    width: 354px;
  }
}

@media (min-width: $breakpoint-desktop) {
  .project-card__image {
    width: 370px;
  }
}
