.team-card {
  margin: 0;
  text-align: center;
  background-color: $alt-color;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;

  &__picture {
    display: block;
    width: calc(100vw - 30px);
    max-width: 450px;
  }

  &__caption {
    padding: 30px 0;
  }

  &__name {
    padding-bottom: 10px;
    font-weight: 500;
    line-height: 1.19;
    letter-spacing: 0.03em;
  }

  &__title {
    color: $default-color;
  }
}

@media (min-width: $breakpoint-tablet) {
  .team-card__picture {
    max-width: 354px;
  }
}

@media (min-width: $breakpoint-desktop) {
  .team-card__picture {
    max-width: 270px;
  }
}
