// Fonts

$brand-font: "Raleway", sans-serif;
$defualt-font: "Roboto", sans-serif;

//Colors

$brand-color: #2196f3;
$logo-color: #000;
$alt-color: #fff;
$border-color: #ececec;
$default-color: #757575;
$main-color: #212121;
$bg-color: #2f303a;
$icon-color: #afb1b8;
$button-color: #f5f4fa;
$pic-border: #eeeeee;
$contact-color: rgba(255, 255, 255, 0.6);
$iconbg-color: rgba(255, 255, 255, 0.1);
$bg-gradient: rgba(47, 48, 58, 0.4);
$service-bg: rgba(47, 48, 58, 0.8);
$description-bg: rgba(33, 150, 243, 0.9);
$backdrop-color: rgba(0, 0, 0, 0.1);
$form-border: rgba(33, 33, 33, 0.2);

//Breakpoints

$breakpoint-mobile: 480px;
$breakpoint-tablet: 768px;
$breakpoint-desktop: 1200px;
